# Node.js dependencies
/node_modules

# Environment variables
.env

# Log files
npm-debug.log*
*.log

# Build artifacts
/build
/dist

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage
/coverage